project:
  type: website
  output-dir: docs
  
website:
  title: "The Green Premium: A Web-Scraping and Monte Carlo Analysis of Agroecological Prices in Mexico City"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

